function sub(val, count) { 
  if (val.length == 0 || val == undefined) 
  {
     return; 
  } 
  if (val.length > count) 
  {
     return val.substring(0, count) + "..."; 
  } 
  else 
  {
     return val; 
  } 
}


function delHtmlTag(str) {
  var reg = getRegExp("<[^>]+>", "g");
  var result = str.replace(reg, '');
  return result; 
}



module.exports = {
  sub:sub,
  delHtmlTag: delHtmlTag
}